<footer>
  <div class="footer" style="background-color: #30bad5;">
      <div class="row">
        <div class="col">
          <img
          class="float-start mb-5"
          src="assets/Logo blanco Honduras.png"
          style="height: 250px; width: 280px; margin-left: 100px;"
        />
        </div>
        <div class="col mr-5">
          <p class="text-white" style="font-size: 22px; margin-top: 81px; text-align: justify;">
            <strong>Ubicación:</strong>
            Centro Civico Gubernamental, Torre 2, Niveles N.º 12 y N.º 21.
          </p>
        </div>
        <div class="col">
          <img class="float-end" src="assets/LOGO EDITABLE SENPRENDE BLANCO.png" alt="Logo Senprende" style="height: 250px; width: 280px; margin-right: 100px;">
        </div>
      </div>
    </div>
</footer>








<!-- <div class="row">
  <div class="col-md-12">
    <img
      class="float-start ml-4 mt-5"
      src="assets/Logo blanco Honduras.png"
      style="height: 250px; width: 280px;"
    />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-white" style="font-size: 20px;">
      <strong>Ubicación:</strong>
      Centro Civico Gubernamental, Torre 2, Niveles N.º 12 y N.º 21.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img class="float-end mr-4 mt-5" src="assets/LOGO EDITABLE SENPRENDE BLANCO.png" alt="Logo Senprende" style="height: 250px; width: 280px;">
  </div>
</div>

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>© 2023. Observatorio Senprende.</p>
      </div>
    </div>
  </div>
</div> -->
