<footer>
  <div class="footer" style="background-color: #30bad5;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="float-start" src="assets/Logo blanco Honduras.png" style="width: 20%;" >
        </div>

      </div>

      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>© 2023. Observatorio Senprende.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
